/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    cellpadding: 5;
}

td {
    padding: 5px;
}

th {
    padding: 10px;
    font-weight: bold;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 16px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}

label, input[type=text] {
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}

label {
    width: 120px;
    text-align: right;
}

input[type=text] {
    width: 49%;
}

H1 {
    font-size: 30px;
    padding: 10px 20px 10px 20px;
}

H2 {
    font-size: 24px;
    padding: 10px 20px 10px 20px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 100px;
    background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 30px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 70%;
    overflow: auto;
}

.content {
    padding: 30px 0 30px 50px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.sidebar1 {
    float: left;
    width: 230px;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    background: #B5E3FF;
}

.sidebar {
    float: left;
    width: 230px;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    background: #B5E3FF;
    clear: left;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -30px auto 0;
    min-width: 1000px;
    height: 30px;
    background: #BFF08E;
    position: relative;
}

.footer_content {
    padding: 5px 10px 10px 10px;
    font-size: 16px;
}